<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Elect Your President</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static//vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static//vendor/aos/aos.css" rel="stylesheet">
  <link href="../static//vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static//vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet">

  
  <style>
    img {
      border-radius: 50%;
    }
  </style> 
</head>

<body class="index-page">

  <header id="header" class="header fixed-top">
    <div class="branding d-flex align-items-cente">
      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">         
          <h1 class="sitename"> <img src="../static/images/president.png" alt="Avatar" hieght="75px" width="60px" >Elect Your President.</h1>
          <span>.</span>
        </a>
        <nav id="navmenu" class="navmenu">          
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </div>
  </header>

  <main class="main">
  
    <!-- Call To Action Section -->


    <!-- Services Section -->
    <section id="services" class="services section">


      <div class="container section-title" data-aos="fade-up">
        <h2>Cast your vote for the candidate you believe should be our next president.</h2>
        <p>Curious about the next president of Sri Lanka?</p>
      </div>

      <form class="row g-3 needs-validation" novalidate action="/results" method="post" onsubmit="return validateForm()">

      <div class="container">
        <div class="row gy-4">
          <div class="alert alert-warning" role="alert" id="alertW1" style="text-align: center;display:none">
            First choose a candicate
          </div>
          <div class="col-lg-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative" style="text-align: center;">
              <div >
                <img src="../static/images/user/akd.jpg" alt="Avatar" hieght="150px" width="150px" >
              </div>

              <div>&nbsp;</div>
              <input class="form-check-input" type="radio"  id="radioAKD" name="radioVote" value="akd" style="transform: scale(2);">               
              <label class="form-check-label" for="radioAKD">
                &nbsp; <h3>Anura Kumara</h3>
              </label>        
            </div>
          </div>

          <div class="col-lg-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative" style="text-align: center;">
              <div >
                <img src="../static/images/user/dj.jpg" alt="Avatar" hieght="150px" width="150px" >
              </div>

              <div>&nbsp;</div>             
              <input class="form-check-input" type="radio" id="radioDJ" name="radioVote" value="dj" style="transform: scale(2);">                              
              <label class="form-check-label" for="radioDJ">
                &nbsp; <h3>Dilith Jayaweera</h3>
              </label>        
            </div>
          </div>

          <div class="col-lg-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative" style="text-align: center;">
              <div >
                <img src="../static/images/user/nr.jpg" alt="Avatar" hieght="150px" width="150px" >
              </div>

              <div>&nbsp;</div>
              <input class="form-check-input" type="radio"  id="radioNR" name="radioVote" value="nr" style="transform: scale(2);">               
              <label class="form-check-label" for="radioNR">
                &nbsp; <h3>Namal Rajapaksha</h3>
              </label>        
            </div>
          </div>


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item  position-relative" style="text-align: center;">
              <div >
                <img src="../static/images/user/rw.jpg" alt="Avatar" hieght="150px" width="150px" >
              </div>

              <div>&nbsp;</div>
              <input class="form-check-input" type="radio" id="radioRW" name="radioVote" value="rw" style="transform: scale(2);">               
              <label class="form-check-label" for="radioRW">
                &nbsp; <h3>Ranil Wickramasinghe</h3>
              </label>        
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item  position-relative" style="text-align: center;">
              <div >
                <img src="../static/images/user/sf.jpg" alt="Avatar" hieght="150px" width="150px" >
              </div>

              <div>&nbsp;</div>
              <input class="form-check-input" type="radio" id="radioSF" name="radioVote" value="df" style="transform: scale(2);">               
              <label class="form-check-label" for="radioSF">
                &nbsp; <h3>Sarath Fonseka</h3>
              </label>        
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item  position-relative" style="text-align: center;">
              <div >
                <img src="../static/images/user/sp.jpg" alt="Avatar" hieght="150px" width="150px" >
              </div>

              <div>&nbsp;</div>
              <input class="form-check-input" type="radio" id="radioSP" name="radioVote" value="sp" style="transform: scale(2);">               
              <label class="form-check-label" for="radioSP">
                &nbsp; <h3>Sajith Premadasa</h3>
              </label>        
            </div>
          </div>

        </div>

        <div>&nbsp</div>
        <div class="alert alert-warning" role="alert" id="alertW2" style="text-align: center;display:none">
          First choose a candicate
        </div>   
        <div class="form-group col" style="text-align: center;">
          <button type="submit" class="btn btn-secondary">Vote</button>
          <button type="button" class="btn btn-secondary" onclick="clearForm()">Clear</button>
        </div>
    
      </div>

    </form> 
    
      </div>

    </section><!-- /Services Section -->
  </main>

  <footer id="footer" class="footer accent-background">
    <div class="container copyright text-center mt-4">      
      <div class="credits">      
        Made by Gapu. 2024</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="../static/js/main.js"></script>
</body>
</html>

<script>
  function validateForm() {
    var radios = document.getElementsByName('radioVote');
    var formValid = false;

    for (var i = 0; i < radios.length; i++) {
      if (radios[i].checked) {
        formValid = true;       
        break;
      }
    }   

    if (!formValid) {
      document.getElementById('alertW1').style.display = 'block';
      document.getElementById('alertW2').style.display = 'block';
      return false; 
    } else {
      document.getElementById('alertW1').style.display = 'none';
      document.getElementById('alertW2').style.display = 'none';
      return true; 
    }
  }

  function clearForm() {
    var radios = document.getElementsByName('radioVote');
    for (var i = 0; i < radios.length; i++) {
      radios[i].checked = false;
    }
    document.getElementById('alertW1').style.display = 'none';
    document.getElementById('alertW2').style.display = 'none';
  }
</script>